name: Build and Push Docker Images App-Grafana-Prometheus

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ================================
      # FRONTEND
      # ================================
      - name: Detect changes in Frontend
        id: frontend_changed
        uses: dorny/paths-filter@v3
        with:
          filters: |
            frontend:
              - 'Dockerfile'
              - '**/*.js'
              - '**/*.ts'
              - '**/*.tsx'
              - 'public/**'
              - 'src/**'

      - name: Build and push Frontend image
        if: steps.frontend_changed.outputs.frontend == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/nextjs-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/nextjs-frontend:${{ github.run_number }}

      # ================================
      # GRAFANA
      # ================================
      - name: Detect changes in Grafana
        id: grafana_changed
        uses: dorny/paths-filter@v3
        with:
          filters: |
            grafana:
              - 'monitoring/grafana/**'

      - name: Build and push Grafana image
        if: steps.grafana_changed.outputs.grafana == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./monitoring/grafana
          file: ./monitoring/grafana/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/grafana-custom:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/grafana-custom:${{ github.run_number }}

      # ================================
      # PROMETHEUS
      # ================================
      - name: Detect changes in Prometheus
        id: prometheus_changed
        uses: dorny/paths-filter@v3
        with:
          filters: |
            prometheus:
              - 'monitoring/prometheus/**'

      - name: Build and push Prometheus image
        if: steps.prometheus_changed.outputs.prometheus == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./monitoring/prometheus
          file: ./monitoring/prometheus/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/prometheus-custom:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/prometheus-custom:${{ github.run_number }}
